<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Prism" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net45" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net45" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.DirectSound" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Audio" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Game" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.XAudio2" version="2.6.3" targetFramework="net45" />
  <package id="SubtitlesParser" version="1.4.6" targetFramework="net45" />
</packages>